body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}


.card {
  cursor: move; /* Make the cursor a move icon when hovering over a task card */
}

.lane {
  padding: 20px; /* Add some padding to the lanes to make them droppable */
  border: 1px solid #ccc; /* Add a border to the lanes to make them visible */
}